<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulário de Cadastro</title>
</head>
<body>
    <form>
        <div class="container">
            <div class="form-image">
                <img src="../static/img/undraw_product-teardown_w5rb (1).svg"
            </div>
            <div class="fomr">
                <form action="#">
                    <div class="form-header">
                        <div class="title">
                            <h1>Cadastro</h1>>
                        </div>
                        <div class="login-button">
                            <button><a href="#">Entrar</a></button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </form>
</body>
</html>